doctype html
html
  head
    title Welcome to death by dance
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo 
                img(src='/static/d1.jpg')
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyrightsfree © HellsDanceFranchise | All rights reserved

